/*
Theme Name: ZenoWeb
Theme URI: http://zenoweb.nl/
Description: The theme for ZenoWeb.
Author: Het ZenoWeb Team
Version: 2.6
Tags: fixed-width, threaded-comments, Dutch, rtl-language-support, editor-style, mobile, widescreen, html5
*/


/*
Globale indeling
-------------------------------------------------------------------
1.  CSS reset (afblijven)
2.  Fonts
3.  Globale elementen
4.  Layout met container en 2 kolommen
5.  Header en Topmenu
6.  Sidebars en Widgets
7.  Voorpagina
8.  Vervolgpagina's
9.  Categorie / Taxonomie / Nieuwspagina
10. Single bericht
11. Content
12. Images, Nextgen Gallery, WordPress Galleries
13. Post Formats
14. Navigatie
15. Reacties Weergave
16. Reacties Formulier
17. Footer
18. Print Style
19. Tablet and big smartphone media query
20. Small smartphone media query
21. Widescreen media query
--------------------------------------------------------------------
*/


/*
1. CSS reset
https://github.com/richclark/HTML5resetCSS
======>> Afblijven, dit is puur voor de CSS reset!!
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

nav ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

/* change colours to suit your needs */
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

/* change colours to suit your needs */
mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse:collapse;
	border-spacing:0;
}

/* change border colour to suit your needs */
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}

input, select {
	vertical-align:middle;
}

a img {
	border: none;
}

/* Einde CSS reset. Edit vanaf hier
-------------------------------------------------------------- */


/* 2. Fonts
-------------------------------------------------------------- */
body {
	font-family: 'system-ui', sans-serif;
}

pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* 3. Globale Elementen
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */

/*
 * Use fontsize in px only for design elements, like text over an image.
 * Use em, rem and % for content elements for accessibility.
 */

html {
	font-size: 15px;
	line-height: 1.5em;
	text-rendering: optimizelegibility;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: 1.1em;
	margin: 0 0 10px 0;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	height: 1px;
	margin-bottom: 18px;
}

/* Text elements */
p {
	margin-bottom: 10px;
}
ul {
	list-style: disc;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
small {
	font-size: 64%;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
.clear {
	clear: both;
}
a:link,
a:visited {
	color: blue;
	text-decoration: none;
}
a:active,
a:hover,
a.hover {
	color: blue;
	text-decoration: underline;
}

/* Reset non-text input types */
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="week"],
input[type="month"],
input[type="number"],
input[type="tag"],
input[type="range"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
input[type="password"],
input[type="color"] {
	border: 0;
	border-radius: 0;
	padding: 0;
}

/* text, html5 inputs en textarea */
input[type="text"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="week"],
input[type="month"],
input[type="number"],
input[type="tag"],
input[type="range"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
input[type="password"],
input[type="color"],
textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 6px 10px;
	max-width: 100%;
}

/* Buttons */
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	padding: 6px 10px;
	font-size: 1em;
	font-size: 1rem;
	line-height: 1.428571429;
	font-weight: normal;
	color: #333;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	cursor: pointer;
}
button[disabled],
input[disabled] {
    cursor: default;
}
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
	color: #5e5e5e;
	background-color: #ebebeb;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: linear-gradient(top, #f9f9f9, #ebebeb);
}
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
	color: #333;
	background-color: #e1e1e1;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: linear-gradient(top, #ebebeb, #e1e1e1);
	box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
}

select {
	background: #f9f9f9;
	padding: 5px;
	line-height: 1.3;
	border: 1px solid #ccc;
	border-radius: 3px;
	/* -webkit-appearance: none; */
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}


/* 4. Layout met 2 kolommen
--------------------------------------------------------- */

#wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
}
#container {
	margin: 0;
	clear: both;
}
#content {
	float: left;
	margin: 0;
	max-width: 760px;
}
#primary,
#secondary {
	float: right;
	overflow: hidden;
	max-width: 200px;
}
#secondary {
	clear: right;
}
#footer {
	clear: both;
	width: 100%;
}


/* 5. Header
-------------------------------------------------------------- */

#header {
	padding: 0;
}

/* TopMenu
-------------------------------------------------------------- */

#access {
	display: block;
	margin: 0 auto;
	max-width: 960px;
}
#access .menu {
	font-size: 1em;
	font-size: 1rem;
}
#access .menu ul {
	list-style: none;
	margin: 0;
}
#access .menu li {
	float: left;
	position: relative;
}
#access a {
	display: block;
	line-height: 38px;
	padding: 0 10px;
	text-decoration: none;
}
/* Huidige pagina of parent. Ook de hover */
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a,
#access a.hover,
#access a:hover,
#access a:active {
	color: purple;
}
#access ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
#access ul ul li {
	min-width: 180px;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
/* de li.hover werkt op een touchscreen, waar geen hover is. */
#access ul li:hover > ul,
#access ul li.hover > ul {
	display: block;
}

/* Small menu. */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

/* 6. Sidebars en Widgets
-------------------------------------------------------------- */
#primary {
}
#secondary {
}
.widget_nav_menu {
	text-decoration: none;
}
.widget_nav_menu ul {
	text-align: left;
	list-style:	none;
}
.widget_nav_menu li {
	margin: 0 0 0 10px;
}

/* Het submenu is wel of niet zichtbaar */
.widget_nav_menu ul.menu ul.sub-menu {
	font-weight: normal;
	margin: 0 0 5px 0;
	padding-left: 10px;
	display: none;
}
.widget_nav_menu ul.menu li.current_page_parent ul.sub-menu,
.widget_nav_menu ul.menu li.current_page_item ul.sub-menu,
.widget_nav_menu ul.menu li:hover ul.sub-menu,
.widget_nav_menu ul.menu li:active ul.sub-menu {
	display: block;
}

.widget_nav_menu a {
	color: blue;
	font-weight: normal;
	display: block;
}
/* Huidige pagina of parent. Ook de hover */
.widget_nav_menu ul li.current_page_item > a,
.widget_nav_menu ul li.current-menu-item > a,
.widget_nav_menu a:hover,
.widget_nav_menu a:active {
	color: purple;
}
.widget_nav_menu .current-menu-item a,
.widget_nav_menu .sub-menu .current-menu-item a {
	color: purple;
}
.widget_nav_menu .current-menu-item .sub-menu a {
	color: blue;
}
.widget_nav_menu .current-menu-item .sub-menu a:hover {
	color: purple;
}
.widget_nav_menu .current-menu-item a:hover,
.widget_nav_menu .sub-menu .current-menu-item a:hover {
	color: blue;
	font-weight: none;
}
.widget_nav_menu .sub-menu .current-menu-item a {
	color: purple;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}


/* 7.  Voorpagina
-------------------------------------------------------------- */



/* 8.  Vervolgpagina's
-------------------------------------------------------------- */



/* 9.  Categorie / Taxonomie / Nieuwspagina
-------------------------------------------------------------- */



/* 10. Single bericht
-------------------------------------------------------------- */


/* 11. Content
-------------------------------------------------------------- */

#content {

}

#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 0.8em;
	font-size: 0.8rem;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 8px 0;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	font-size: 1.2em;
	font-size: 1.2rem;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	font-size: 1.2em;
	font-size: 1.2rem;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}
.entry-title a:link,
.entry-title a:visited {
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #ff4b33;
}
.entry-meta {
	color: #888;
	font-size: 0.8em;
	font-size: 0.8rem;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content,
.entry-summary {
	padding: 12px 0 0 0;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #888;
	font-size: 0.8em;
	font-size: 0.8rem;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 0.7em;
	font-size: 0.7rem;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}


/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}


/* 12. Images
Gallery listing
-------------------------------------------------------------- */

.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}

/* Nextgen Gallery overschrijven of aanvullen
-------------------------------------------------------------- */


/* Images Algemeen
-------------------------------------------------------------- */

figure,
img {
	max-width: 100%;
	width: auto;
}

.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption,
#content img {
	margin: 0;
	max-width: 100%;
	width: auto;
}
#content .attachment img {
	max-width: 900px;
}
#content .alignleft,
#content img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
#content .alignright,
#content img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
#content .aligncenter,
#content img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content img.alignleft,
#content img.alignright,
#content img.aligncenter {
	margin-bottom: 12px;
}


/* Make sure images with WordPress-added height and width attributes are scaled correctly. */
.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
}

img.size-full,
img.size-large,
img.wp-post-image {
	height: auto;
	max-width: 100%;
}

/* Make sure videos and embeds fit their containers. */
embed,
iframe,
object,
video {
	max-width: 100%;
}


/* Galleries
---------------------------------------------------------------------------- */

.gallery {
	margin-bottom: 20px;
	margin-left: -4px;
}

.gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	position: relative;
}

.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
	display: table;
	margin: 0 auto 20px;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item {
	text-align: center;
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	color: #fff;
	font-size: 14px; /* Static size in px */
	line-height: 1.3;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 2px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	-webkit-transition: opacity 400ms ease;
	transition:         opacity 400ms ease;
	width: 100%;
}

.gallery-caption:before {
	box-shadow: 0 -10px 15px #000 inset;
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}


/* 13 Post Formats
---------------------------------------------------------------------------- */

/* Aside */
.format-aside {
	background-color: #f7f5e7;
}

.blog .format-aside:first-of-type,
.single .format-aside:first-of-type,
.format-aside + .format-aside,
.format-aside + .format-link,
.format-link + .format-aside {
	box-shadow: inset 0 2px 2px rgba(173, 165, 105, 0.2);
}

.format-aside .entry-meta {
	margin-top: 0;
}

.format-aside blockquote {
	font-size: 1em;
	font-size: 1rem;
	font-weight: normal;
}

.format-aside cite {
	font-size: 1em;
	font-size: 1rem;
	text-transform: none;
}

.format-aside cite:before {
	content: "\2014";
	margin-right: 5px;
}

/* Audio */
.format-audio {
	background-color: #db572f;
}

.format-audio .entry-title {
	font-size: 1.6em;
	font-size: 1.6rem;
	font-weight: bold;
}

.format-audio .entry-content:before {
	content: "\f109";
	float: left;
	font-size: 2.2em;
	font-size: 2.2rem;
	position: relative;
	top: 4px;
}

.format-audio .entry-content a,
.format-audio .entry-meta a,
.format-audio .entry-content a:hover,
.format-audio .entry-meta a:hover {
	color: #fbfaf3;
}

.format-audio .audio-content {
	background: url(images/dotted-line.png) repeat-y left top;
	background-size: 4px 4px;
	float: right;
	padding-left: 35px;
	width: 80%;
	width: -webkit-calc(100% - 85px);
	width:         calc(100% - 85px);
}

.format-audio .wp-audio-shortcode {
	height: 30px !important; /* Override mediaelement.js style */
	margin: 20px 0;
	max-width: 400px !important; /* Override mediaelement.js style */
}

.format-audio audio {
	max-width: 100% !important; /* Avoid player width overflow. */
}

/* Chat */
.format-chat {
	background-color: #eadaa6;
}

.format-chat .entry-title {
	font-size: 2em;
	font-size: 2rem;
	font-weight: bold;
}

.format-chat .entry-meta a,
.format-chat .entry-content a {
	color: #722d19;
}

.format-chat .entry-meta .date a:before {
	content: "\f108";
	margin-right: 2px;
}

.format-chat .entry-meta .author {
	display: none;
}

.format-chat .chat {
	margin: 0;
}

.format-chat .chat .chat-timestamp {
	color: #722d19;
	float: right;
	font-size: 0.8em;
	font-size: 0.8rem;
	font-weight: normal;
	margin: 5px 10px 0;
}

.format-chat .chat .fn {
	font-style: normal;
}

/* Gallery */
.format-gallery {
	background-color: #fbca3c;
}

.format-gallery .entry-header {
	margin-bottom: 15px;
}

.format-gallery .entry-title {
	font-size: 2em;
	font-size: 2rem;
	font-weight: 400;
	margin: 0;
}

.format-gallery .entry-meta a,
.format-gallery .entry-content a {
	color: #722d19;
}

/* Image */
.format-image .entry-title {
	font-size: 1.6em;
	font-size: 1.6rem;
	font-weight: bold;
}

.format-image .categories-links,
.format-image .tags-links {
	display: none;
}

/* Link */
.format-link {
	background-color: #f7f5e7;
}

.blog .format-link:first-of-type,
.single .format-link:first-of-type {
	box-shadow: inset 0 2px 2px rgba(173, 165, 105, 0.2);
}

.format-link .entry-header,
.format-link .entry-content p:last-child {
	margin-bottom: 0;
}

.format-link .entry-title {
	color: #ca3c08;
	display: inline;
	font-weight: 300;
	font-style: italic;
	font-size: 1.6em;
	font-size: 1.6rem;
	margin-right: 20px;
}

.format-link .entry-title a {
	color: #bc360a;
}

.format-link div.entry-meta {
	display: inline;
}

/* Quote */
.format-quote {
	background-color: #210d10;
}

.format-quote .entry-content,
.format-quote .entry-meta {
	color: #f7f5e7;
}

.format-quote .entry-content blockquote {
	font-size: 1.6em;
	font-size: 1.6rem;
	margin: 0;
}

.format-quote .entry-content a,
.format-quote .entry-meta a,
.format-quote .linked {
	color: #e63f2a;
}

.format-quote .entry-content cite a {
	border-bottom: 1px dotted #fff;
	color: #fff;
}

.format-quote .entry-content cite a:hover {
	text-decoration: none;
}

.format-quote blockquote small,
.format-quote blockquote cite {
	display: block;
	font-size: 1em;
	font-size: 1rem;
}

.format-quote blockquote {
	font-style: italic;
	font-weight: 300;
	padding-left: 75px;
	position: relative;
}

.format-quote blockquote:before {
	content: '\201C';
	font-size: 3em;
	font-size: 3rem;
	font-weight: 400;
	line-height: .8;
	padding-right: 25px;
	position: absolute;
	left: -15px;
	top: -3px;
}

.format-quote .entry-meta .author {
	display: none;
}

/* Status */
.format-status {
	background-color: #722d19;
	padding: 0;
}

.format-status .entry-content,
.format-status .entry-meta {
	padding-left: 35px;
	position: relative;
}

.format-status .entry-content a {
	color: #eadaa6;
}

.format-status .entry-meta a {
	color: #f7f5e7;
}

.sidebar .format-status .entry-content,
.sidebar .format-status .entry-meta {
	padding-left: 95px;
}

.format-status .entry-content:before,
.format-status .entry-meta:before {
	background: url(images/dotted-line.png) repeat-y left bottom;
	background-size: 4px 4px;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	left: 10px;
	top: 0;
	width: 1px;
}

.sidebar .format-status .entry-content:before,
.sidebar .format-status .entry-meta:before {
	left: 70px;
}

.format-status .categories-links,
.format-status .tags-links {
	display: none;
}

/* Ensures the dots in the dot background are in lockstep. */
.format-status .entry-meta:before {
	background-position: left top;
}

.format-status .entry-content {
	color: #f7f5e7;
	font-size: 1.4em;
	font-size: 1.4rem;
	font-style: italic;
	font-weight: 300;
	padding-bottom: 30px;
	padding-top: 40px;
	position: relative;
}

.format-status .entry-content p:first-child:before {
	background-color: rgba(0, 0, 0, 0.65);
	content: "";
	height: 3px;
	margin-top: 13px;
	position: absolute;
	left: 4px;
	width: 13px;
}

.sidebar .format-status .entry-content > p:first-child:before {
	left: 64px;
}

.format-status .entry-content p:last-child {
	margin-bottom: 0;
}

.format-status .entry-meta {
	margin-top: 0;
	padding-bottom: 40px;
}

.format-status .entry-meta .date a:before {
	content: "\f105";
}

/* Video */
.format-video {
	background-color: #db572f;
}

.format-video .entry-content a,
.format-video .entry-meta a,
.format-video .entry-content a:hover,
.format-video .entry-meta a:hover {
	color: #fbfaf3;
}

.format-video .entry-title {
	font-size: 2em;
	font-size: 2rem;
	font-weight: 400;
}

.format-video .entry-meta {
	color: #220e10;
}



/* 14. Navigatie
-------------------------------------------------------------- */

.navigation {
	font-size: 0.9em;
	font-size: 0.9rem;
	line-height: 1.3;
	overflow: hidden;
	padding: 20px 0;
	clear: both;
}
.navigation a:link,
.navigation a:visited {
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}

#content .ngg-navigation {
	padding: 15px 0;
}


/* 15. Reacties weergave
-------------------------------------------------------------- */
#comments .navigation {
	padding: 0 0 8px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
	clear: both;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 0.8em;
	font-size: 0.8rem;
	margin: 0 0 18px 0;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 0.8em;
	font-size: 0.8rem;
	padding: 0 0 24px 0;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}


/* 16. Reacties formulier
----------------------------------------------------------- */
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
	display: none;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 0.8em;
	font-size: 0.8rem;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	font-size: 0.8em;
	font-size: 0.8rem;
}
#respond input {
	display: block; /* geef weer over de hele breedte, het inputveld komt er zo onder */
	margin: 0 0 9px;
}
#respond textarea {
	width: 97%;
}
#respond .form-allowed-tags {
	font-size: 0.8em;
	font-size: 0.8rem;
}
#respond .form-allowed-tags code {
	font-size: 0.7em;
	font-size: 0.7rem;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	width: auto;
}


/* 17. Footer
-------------------------------------------------------------- */

#footer {
	margin-bottom: 20px;
}
#colophon {
	overflow: hidden;
	padding: 18px 0;
}
#colophon img {
	margin-bottom: -3px;
}

/* 18. Print Style
-------------------------------------------------------------- */

@media print {
	body {
		background: none !important;
	}
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	.entry-content {
		font-size: 1.1em;
		font-size: 1.1rem;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 1.4em;
		font-size: 1.4rem;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 0.8em;
		font-size: 0.8rem;
	}
	#colophon {
		width: auto;
	}
	.home .sticky {
		border: none;
	}
}

/* 19. Tablet and Big Smartphone Media Query
 *     Adjust as needed, make sure to use mostly percentages
-------------------------------------------------------------- */
/*
@media only screen and (max-width: 820px) {
	#search,
	#logo,
	#primary {
		display:none;
	}

	body {
		width: 90%;
		margin: 0 auto;
	}

	#wrapper,
	#access,
	#content,
	#content_left {
		width: 100%;
		margin: 0;
		font-size: 1.3em;
		font-size: 1.3rem;
	}

	#content img {
		max-width: 100%;
	}
}
*/

/* 20. Small Smartphone Media Query
 *     Adjust as needed, make sure to use mostly percentages
-------------------------------------------------------------- */
/*
@media only screen and (max-width: 550px) {
	#search,
	#logo,
	#primary {
		display:none;
	}

	body {
		width: 90%;
		margin: 0 auto;
	}

	#wrapper,
	#access,
	#content,
	#content_left {
		width: 100%;
		margin: 0;
		font-size: 1.3em;
		font-size: 1.3rem;
	}

	#content img {
		max-width: 100%;
	}
}
*/

/* 21. Widescreen Media Query
 * Adjust as needed
 * Mostly used for extra, unnecessary content
----------------------------------------------------------------- */
/*
@media only screen and (min-width: 1260px) {
	body {
		min-width: 1260px;
	}

	#wrapper,
	#access,
	#content,
	#content_left {
		width: 100%;
		margin: 0;
	}

	#secondary {
		display: block;
	}
}
*/
